{% extends 'base.html' %}

{% block content %}
  <div class="text-center">
    <h1>Contact Page</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="col">
          <p>{{ content }}</p>
          <form method="POST"> {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-default">Submit</button>
          </form>

          <!-- <form method="POST"> {% csrf_token %}
            <input type="text" class="form-control" placeholder="Name" name="full_name">
            <input type="text" class="form-control" placeholder="Email" name="full_name">
            <textarea name="content" class="form-control" cols="30" rows="10" placeholder="Your Content"></textarea>
            <button type="submit" class="btn btn-default">Submit</button>
          </form> -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}
