<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="text-center">
    <h1>Contact Page</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="col">
          <p>{{ content }}</p>
          <form method="POST"> {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-default">Submit</button>
          </form>

          <!-- <form method="POST"> {% csrf_token %}
            <input type="text" class="form-control" placeholder="Name" name="full_name">
            <input type="text" class="form-control" placeholder="Email" name="full_name">
            <textarea name="content" class="form-control" cols="30" rows="10" placeholder="Your Content"></textarea>
            <button type="submit" class="btn btn-default">Submit</button>
          </form> -->
        </div>
      </div>
    </div>
  </div>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>